# 18BCE101

## DM prac 5

__AIM:__

Implement the Natural partitioning (apply 3-4-5 rule) algorithm in C/C++ for generating concept hierarchy (upto two levels) for the following data (given the attribute ‘marks’ of some students) : 32, 38, 48, 91, 46, 37, 22, 69, 78, 82, 33, 49, 55, 66, 84, 86, 67, 80, 79, 44.

concepy hierarchy - continuos to nominal values

marks in ranks

salary - range of salariees done

example - address attribute - region county/state/city/area etc

3-4-5 rule - apply two levels only

3-4-5 rule can be used to segment numeric data into
relatively uniform, “natural” intervals.

􀂄 If an interval covers 3, 6, 7 or 9 distinct values at the
most significant digit, partition the range into 3 equiwidth
intervals

􀂄 If it covers 2, 4, or 8 distinct values at the most
significant digit, partition the range into 4 intervals

􀂄 If it covers 1, 5, or 10 distinct values at the most
significant digit, partition the range into 5 intervals

find real world application of it

In [78]:
#importing required libraries

import pandas as pd

## Given example

In [79]:
#finding most significant digit

data = [32, 38, 48, 91, 46, 37, 22, 69, 78, 82, 33, 49, 55, 66, 84, 86, 67, 80, 79, 44]

data.sort()
print(data)
length = len(data)
min_val = data[0]
max_val = data[length - 1]

msd = int(str(max_val - min_val)[0])
print(msd)

[22, 32, 33, 37, 38, 44, 46, 48, 49, 55, 66, 67, 69, 78, 79, 80, 82, 84, 86, 91]
6

In [80]:
#finding the number of partitions

rule1 = [3,6,7,9]
rule2 = [2,4,8]
rule3 = [1,5,10]
partition = 0

if msd in rule1:
    partition = 3
elif msd in rule2:
    partition = 4
else:
    partition = 5
    
print(partition)

3

In [81]:
def natural_partitioning(data , partition, min_val, max_val):
    
    ranges = [min_val]
    start = round(min_val)
    end = round((max_val - min_val) / partition)
    
    intervals = []
    [intervals.append([]) for i in range(partition)]
    x = 0
    
    print("Partition {} made from {} to {}".format(x+1, start, start+end))
    for i in data:
        if i in range(start - 1, start + end + 1):
            intervals[x].append(i)
        else:
            start += end
            ranges.append(start)
            x += 1
            intervals[x].append(i)
            print("Partition {} made from {} to {}".format(x+1, start, start+end))
            
    ranges.append(start + end)
    print("\nIntervals are : ", *intervals, sep="\n\n")
    return intervals, ranges

print("Level 1")
print("\n----------------------------------------------------------------------------------------------------\n")
intervals_level1, ranges = natural_partitioning(data, partition, min_val, max_val)

print("\n----------------------------------------------------------------------------------------------------\n")
print("Level 2")
intervals_level2 = []
sub_ranges = []
y = 0
for i in intervals_level1:
    print("\n----------------------------------------------------------------------------------------------------\n")
    print("Sub part " + str(y+1))
    a, b = natural_partitioning(i, partition, ranges[y], ranges[y+1])
    intervals_level2.append(a)
    sub_ranges.append(b)
    y += 1

Level 1

----------------------------------------------------------------------------------------------------

Partition 1 made from 22 to 45
Partition 2 made from 45 to 68
Partition 3 made from 68 to 91

Intervals are :

[22, 32, 33, 37, 38, 44]

[46, 48, 49, 55, 66, 67]

[69, 78, 79, 80, 82, 84, 86, 91]

----------------------------------------------------------------------------------------------------

Level 2

----------------------------------------------------------------------------------------------------

Sub part 1
Partition 1 made from 22 to 30
Partition 2 made from 30 to 38
Partition 3 made from 38 to 46

Intervals are :

[22]

[32, 33, 37, 38]

[44]

----------------------------------------------------------------------------------------------------

Sub part 2
Partition 1 made from 45 to 53
Partition 2 made from 53 to 61
Partition 3 made from 61 to 69

Intervals are :

[46, 48, 49]

[55]

[66, 67]

----------------------------------------------------------------------------------------------------

Sub part 3
Partition 1 made from 68 to 76
Partition 2 made from 76 to 84
Partition 3 made from 84 to 92

Intervals are :

[69]

[78, 79, 80, 82, 84]

[86, 91]

## Real word example

In [82]:
df = pd.read_csv('500_Person_Gender_Height_Weight_Index.csv')
df.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [83]:
datadf = df['Height'].tolist()

datadf.sort()
print(datadf)
length = len(datadf)
min_val = datadf[0]
max_val = datadf[length - 1]

msd = int(str(max_val - min_val)[0])
print(msd)

[140, 140, 140, 140, 140, 140, 140, 140, 141, 141, 141, 141, 141, 141, 141, 141, 142, 142, 142, 142, 142, 142, 142, 142, 142, 143, 143, 143, 144, 144, 144, 144, 144, 145, 145, 145, 145, 145, 145, 145, 145, 145, 146, 146, 146, 146, 146, 146, 146, 146, 146, 147, 147, 147, 147, 147, 147, 147, 148, 148, 148, 148, 148, 149, 149, 149, 149, 149, 150, 150, 150, 150, 150, 150, 150, 150, 150, 150, 150, 151, 151, 151, 151, 151, 151, 151, 151, 152, 152, 152, 152, 152, 152, 152, 152, 153, 153, 153, 153, 153, 153, 153, 153, 153, 153, 154, 154, 154, 154, 154, 154, 154, 154, 154, 154, 155, 155, 155, 155, 155, 155, 156, 156, 156, 156, 156, 156, 157, 157, 157, 157, 157, 157, 157, 157, 157, 157, 158, 158, 158, 158, 158, 159, 159, 159, 159, 159, 159, 159, 159, 159, 160, 160, 160, 160, 160, 160, 160, 161, 161, 161, 161, 161, 161, 161, 161, 161, 162, 162, 162, 162, 162, 162, 162, 162, 162, 163, 163, 163, 163, 163, 163, 163, 163, 164, 164, 164, 164, 164, 164, 164, 164, 164, 165, 165, 165, 165, 165, 165, 165, 165, 165, 165, 166, 166, 166, 166, 166, 166, 166, 166, 166, 167, 167, 167, 167, 167, 167, 167, 167, 167, 168, 168, 168, 168, 168, 168, 168, 168, 168, 168, 168, 168, 168, 169, 169, 169, 169, 169, 169, 169, 169, 169, 169, 170, 170, 170, 170, 170, 170, 171, 171, 171, 171, 171, 171, 171, 171, 172, 172, 172, 172, 172, 172, 172, 172, 172, 172, 172, 172, 173, 173, 173, 173, 174, 174, 174, 174, 174, 174, 174, 174, 175, 175, 175, 175, 176, 176, 176, 176, 176, 176, 176, 177, 177, 177, 177, 177, 177, 177, 177, 177, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 179, 179, 179, 179, 179, 179, 179, 179, 179, 179, 179, 179, 179, 179, 180, 180, 180, 180, 180, 180, 180, 180, 181, 181, 181, 181, 181, 181, 181, 181, 181, 181, 181, 182, 182, 182, 182, 182, 182, 182, 182, 182, 182, 182, 182, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 184, 184, 184, 184, 184, 184, 184, 184, 184, 184, 184, 184, 185, 185, 185, 185, 185, 185, 185, 185, 185, 185, 185, 186, 186, 186, 186, 186, 186, 186, 186, 186, 187, 187, 187, 187, 187, 187, 187, 187, 187, 187, 187, 187, 187, 187, 188, 188, 188, 188, 188, 188, 188, 188, 188, 188, 188, 188, 188, 188, 188, 189, 189, 189, 189, 189, 190, 190, 190, 190, 190, 190, 190, 190, 190, 191, 191, 191, 191, 191, 191, 191, 192, 192, 192, 192, 192, 192, 193, 193, 193, 193, 193, 194, 194, 194, 194, 194, 195, 195, 195, 195, 195, 195, 195, 195, 195, 195, 196, 196, 196, 196, 196, 196, 197, 197, 197, 197, 197, 197, 197, 198, 198, 198, 198, 198, 199, 199, 199]
5

In [84]:
rule1 = [3,6,7,9]
rule2 = [2,4,8]
rule3 = [1,5,10]
partition = 0

if msd in rule1:
    partition = 3
elif msd in rule2:
    partition = 4
else:
    partition = 5
    
print(partition)

5

In [85]:
print("Level 1")
print("\n----------------------------------------------------------------------------------------------------\n")
intervals_level1, ranges = natural_partitioning(datadf, partition, min_val, max_val)

Level 1

----------------------------------------------------------------------------------------------------

Partition 1 made from 140 to 152
Partition 2 made from 152 to 164
Partition 3 made from 164 to 176
Partition 4 made from 176 to 188
Partition 5 made from 188 to 200

Intervals are :

[140, 140, 140, 140, 140, 140, 140, 140, 141, 141, 141, 141, 141, 141, 141, 141, 142, 142, 142, 142, 142, 142, 142, 142, 142, 143, 143, 143, 144, 144, 144, 144, 144, 145, 145, 145, 145, 145, 145, 145, 145, 145, 146, 146, 146, 146, 146, 146, 146, 146, 146, 147, 147, 147, 147, 147, 147, 147, 148, 148, 148, 148, 148, 149, 149, 149, 149, 149, 150, 150, 150, 150, 150, 150, 150, 150, 150, 150, 150, 151, 151, 151, 151, 151, 151, 151, 151, 152, 152, 152, 152, 152, 152, 152, 152]

[153, 153, 153, 153, 153, 153, 153, 153, 153, 153, 154, 154, 154, 154, 154, 154, 154, 154, 154, 154, 155, 155, 155, 155, 155, 155, 156, 156, 156, 156, 156, 156, 157, 157, 157, 157, 157, 157, 157, 157, 157, 157, 158, 158, 158, 158, 158, 159, 159, 159, 159, 159, 159, 159, 159, 159, 160, 160, 160, 160, 160, 160, 160, 161, 161, 161, 161, 161, 161, 161, 161, 161, 162, 162, 162, 162, 162, 162, 162, 162, 162, 163, 163, 163, 163, 163, 163, 163, 163, 164, 164, 164, 164, 164, 164, 164, 164, 164]

[165, 165, 165, 165, 165, 165, 165, 165, 165, 165, 166, 166, 166, 166, 166, 166, 166, 166, 166, 167, 167, 167, 167, 167, 167, 167, 167, 167, 168, 168, 168, 168, 168, 168, 168, 168, 168, 168, 168, 168, 168, 169, 169, 169, 169, 169, 169, 169, 169, 169, 169, 170, 170, 170, 170, 170, 170, 171, 171, 171, 171, 171, 171, 171, 171, 172, 172, 172, 172, 172, 172, 172, 172, 172, 172, 172, 172, 173, 173, 173, 173, 174, 174, 174, 174, 174, 174, 174, 174, 175, 175, 175, 175, 176, 176, 176, 176, 176, 176, 176]

[177, 177, 177, 177, 177, 177, 177, 177, 177, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 179, 179, 179, 179, 179, 179, 179, 179, 179, 179, 179, 179, 179, 179, 180, 180, 180, 180, 180, 180, 180, 180, 181, 181, 181, 181, 181, 181, 181, 181, 181, 181, 181, 182, 182, 182, 182, 182, 182, 182, 182, 182, 182, 182, 182, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 184, 184, 184, 184, 184, 184, 184, 184, 184, 184, 184, 184, 185, 185, 185, 185, 185, 185, 185, 185, 185, 185, 185, 186, 186, 186, 186, 186, 186, 186, 186, 186, 187, 187, 187, 187, 187, 187, 187, 187, 187, 187, 187, 187, 187, 187, 188, 188, 188, 188, 188, 188, 188, 188, 188, 188, 188, 188, 188, 188, 188]

[189, 189, 189, 189, 189, 190, 190, 190, 190, 190, 190, 190, 190, 190, 191, 191, 191, 191, 191, 191, 191, 192, 192, 192, 192, 192, 192, 193, 193, 193, 193, 193, 194, 194, 194, 194, 194, 195, 195, 195, 195, 195, 195, 195, 195, 195, 195, 196, 196, 196, 196, 196, 196, 197, 197, 197, 197, 197, 197, 197, 198, 198, 198, 198, 198, 199, 199, 199]

In [86]:
ranges

[140, 152, 164, 176, 188, 200]

## Conclusion

Data discretization is the process of converting continuous values of an attribute into categorical data or partitions or intervals.
Discretization helps reducing data size by reducing number of possible values. Instead of storing every observation we can only store partition range in which each observation falls. One of the easiest ways to partition numeric values is using intuitive (natural) partitioning.